<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>模板全局變量</title>
    <link rel="shortcut icon" type="text/css" href="/static/img/favicon.ico" />
</head>

<body>
    <div>
        WZS&nbsp;&nbsp;:&nbsp;&nbsp;{<br><br>
        {%- for key, val in WZS.items() %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{{key}}:{</span><br><br>
        {%- for k, v in val.items() %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{{k}}&nbsp;&nbsp;:</span>&nbsp;&nbsp;<span>{{ v }}</span><br><br>
        {%- endfor %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span></span><br>}<br>
        {%- endfor %}
        }
    </div>
</body>

</html>