<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="10">
    <title>會議簽到情況</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('web_bpt.static', filename='css/reach.css') }}" /> -->
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
</head>

<body>
    <!-- Your page content -->
    <div>
        <div class="big_div">
            <div>
                {%- if info %}
                <!-- style="padding: 32px;" -->
                <div class="jumbotron jumbotron-fluid m-0 pb-32">
                    <div class="container">
                      <h1 class="display-4">会议主题:{{ info.subject }}</h1>
                      <p class="lead">主持人:{% if res %}{{ res[0]['cname'] }}{% endif %}</p>
                      <p class="lead">开始时间:{{ info.starttime }}&nbsp;&nbsp;&nbsp;&nbsp;结束时间:{{ info.endtime }}</p>
                    </div>
                </div>
                {%- else %}
                <div class="jumbotron jumbotron-fluid m-0 pb-32">
                    <div class="container">
                      <h1 class="display-4">会议主题:当前暂无会议</h1>
                      <p class="lead">主持人:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                      <p class="lead">开始时间:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 结束时间:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    </div>
                </div>
                {%- endif %}
            </div>
            <!-- table-striped -->
            <table class="table table-hover table-striped">
                <thead class="table-primary">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">工号</th>
                    <th scope="col">英文名</th>
                    <th scope="col">中文名</th>
                    <th scope="col">部门</th>
                    <th scope="col">签到情况</th>
                  </tr>
                </thead>
                <tbody>
                    {%- if info %}
                    {%- if res %}
                    {%- for row in res %}
                    <tr>
                        <th scope="row">{{ row.id }}</th>
                        <td>{{ row.emplid }}</td>
                        <td>{{ row.ename }}</td>
                        <td>{{ row.cname }}</td>
                        <td>{{ row.deptid }}</td>
                        <td>{% if row.status %}<p class="m-0 text-success ">已签到</p>{% else %}<p class="m-0">未签到</p>{% endif %}</td>
                    </tr>
                    {%- endfor %}
                    {%- endif %}
                    {%- endif %}
                </tbody>
            </table>
            <div class="fixed-bottom text-center" style="height: 50px;">HelpDesk: Shem Lin | Version: 0.1 | CodedBy: Yann Zhu | Copyright 2021 Wistron</div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    <!-- <script type="text/javascript" src="{{ url_for('web_bpt.static', filename='js/reach.js') }}"></script> -->
</body>

</html>